[Unit]
Description=Fetch OCSP responses for all certificates issued with Certbot

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/certbot-ocsp-fetcher.sh
