[Unit]
Description=Fetch OCSP responses for all certificates issued with Certbot

[Service]
Type=simple
User=root
Group=root
Restart=on-failure
ExecStart=/usr/local/bin/certbot-ocsp-fetcher.sh
